h1 {
    background-color: burlywood;
    font-family: 'Borel', cursive;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aquamarine;
    font-family: 'Borel', cursive;
    font-family: 'Roboto', sans-serif;
}